__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.pytest_cache
.venv
.vscode
data
.gitignore
__pycache__
.github
.DS_Store
.pre-commit-config.yaml
*/__pycache__
*/*/__pycache__
**/__pycache__
*/.tmp
.cfg
